# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Gradle
.gradle/
build/

# IntelliJ / Eclipse
*.iml
/.idea/
/.project
.classpath
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# logs
*.log

# Environment / secrets
.env
*.env
.secret
